@charset "utf-8";
::-webkit-scrollbar-thumb:hover{ background:#1ba1e2 }
body{border-bottom:2px solid #1ba1e2;}
a{color:#1ba1e2;}
a:hover{color:#1ba1e2;}
.nav li a:hover{background-color:#1ba1e2;}
.current {border-bottom:2px solid #1ba1e2;}
.cont h2 a:hover{color:#1ba1e2;}
.page-navigator li.current a{background:#1ba1e2}
.page-navigator li a:hover{background:#1ba1e2;}
#comment_form button {background:#1ba1e2; border:1px solid #1ba1e2;}
input:focus,textarea:focus {
     -webkit-box-shadow: 0px 0px 6px #1ba1e2;
     -moz-box-shadow: 0px 0px 5px #1ba1e2;
     box-shadow: 0px 0px 5px #1ba1e2;
     border: 1px solid #1ba1e2;
}
.post-list h2 a:hover{color:#1ba1e2;}
#w2b-StoTop {background-color: #1ba1e2;}
#img h5{background-color:#1ba1e2}
#img a:hover{color:#1ba1e2}
#tooltip{color:#1ba1e2;border: 2px solid #1ba1e2;}