.header {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    width: 100%;
    height: $head-hig;

    background: $head-bg;
}

.nav {
    line-height: $head-hig;

    position: relative;
    right: $logo-wid/2;

    float: left;

    @include link($nav-link, $nav-link-h);
    a {
        margin-right: 2rem;
        &.current {
            font-weight: 700;

            color: $nav-link-h;
        }
    }
}

@mixin head-right($right) {
    position: relative;
    left: $right;

    float: right;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: $head-hig;

    width: $logo-wid;

    text-align: center;

    color: $nav-link;
    background: $common-col;

    @include head-right($logo-wid/2);
}

.tri {
    top: $head-hig;

    border: $logo-wid/2 solid $common-col;
    border-color: $common-col transparent transparent transparent;

    @include head-right($logo-wid*1.5);
}

.search {
    margin: ($head-hig - 1.6rem)/2 0;

    @include head-right($logo-wid*1.5);
    input {
        box-sizing: border-box;
        width: 10rem;
        height: 1.6rem;
        padding: .3rem 2rem .3rem .5rem;

        color: $search-col;
        border: 0 none;
        border-radius: 0;
        outline: 0 none;
        background: $head-bg;
        box-shadow: none;

        -webkit-appearance: none;
        @include trans;
        &:focus {
            color: $search-col-f;
            background: #fff;
        }
    }
    &:after {
        position: relative;
        right: $logo-wid/4;

        display: block;
        float: right;

        box-sizing: border-box;
        height: 1.6rem;
        padding: .3rem 0;

        content: '\641c';
        pointer-events: none;

        @include icon;
    }
}
